:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
  margin: 0;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #111827;
  color: white;
}
